# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/

# Django
db.sqlite3
*.log

# Environments
.env
venv/
env/

# VS Code
.vscode/

# Migrations
**/migrations/__pycache__/
**/migrations/*.pyc
